*~
*.o
*.lo
*.la
*.ce
*.cce
*.he
depcomp
*.m4
Makefile
Makefile.in
missing
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
.deps/
stamp-h1
INSTALL
*.gmo
ABOUT-NLS
README.html
config.rpath
aria2c.1
aria2c.1.html
intl/
libtool
ltmain.sh
po/aria2.pot
po/remove-potcdate.sed
src/libaria2.pc
test-driver
libaria2api
libaria2ex
libaria2wx
.dirstamp
.libs
compile
main.log
main.trs
test-suite.log
.vscode/
